*{
 margin:0;
 font-family: 'Work Sans', sans-serif;
}
/* banner style */
.banner{
      background-image: url("../images/banner/banner2.png");

      height: 700px;
}
.banner-text{
      
      align-items: center;
      text-align: right;
}
.banner-title{
      font-weight: 700;
font-size: 65px;
margin-bottom: 24px;
text-align: right;
align-items: center;
padding-left: 700px;
padding-right: 170px;
padding-top: 200px;
}
.banner-description{
      font-weight: 400;
font-size: 16px;
color: #444343;
padding-left: 700px;
padding-right: 170px;

}
.btn-primary{
 width: 150px;     
height: 54px;
border-radius: 5px;
background-color: orangered;
color: #ffff;
font-weight: 200;
font-size: 20px;
border: 0;
margin-top: 15px;
margin-right: 170px;
}
.blog{
      display: flex;
      margin-top: 130px;
      align-items: center;
}
.blog-title{
      font-weight: 700;
font-size: 40px;
margin-bottom: 20px;
padding-right: 150px;

}
.blog-description{
      font-weight: 400;
font-size: 16px;
color: #444343;
margin-bottom: 16px;
padding-right: 150px;

}
.para-list{
      margin-right: 100px;
      font-weight: 400;
font-size: 16px;
color: #444343;
}
.blog-text{
      margin-right: 150px;
      padding-left: 80px;
      
}
.blog img{
      margin-left: 100px;
}

